* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*center center */
    /* para bajar el footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

header {
    padding: 25px;
    background-color: rgb(0, 0, 0, .6);
}

header nav {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


.n:hover {
    transform: scale(2);
}

.index_anim {
    transition-property: all;
    transition-duration: 1s;
}

.productos_anim {
    transition-property: all;
    transition-duration: 1s;
}

.comollegar_anim {
    transition-property: all;
    transition-duration: 1s;
}

.historia_anim {
    transition-property: all;
    transition-duration: 1s;
}

.contacto_anim {
    transition-property: all;
    transition-duration: 1s;
}

/* main */


main .logo {
    font-size: 2.5em;
    ;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darkred;
}



img {
    height: 500px;
    width: 500px;
    margin-left: 0px;
    margin-bottom: 100px;
    border-radius: 1cm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.letraindex {
    color: blueviolet;
    text-align: center;
}

.historia {
    color: black;
    text-align: center;
    padding: 40px;
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 400px;
    border: 10px solid crimson;
    border-radius: 50px;
}

.contenedorForm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0, .6);
    margin: 50px 30px;
}

.formulario .labelform {
    padding: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.border {
    border: 5px solid black;
}



.tela {
    grid-area: tela;
}

.sublimada {

    grid-area: sublimada;
}

.gamusa {
    grid-area: gamusa;
}

.licra {
    grid-area: licra;
}

.cuero {
    grid-area: cuero;
}

.grilla {
    display: grid;
    grid-template-areas:
        " tela  sublimada"
        " tela  gamusa"
        " tela  licra"
        " tela  cuero";
    grid-template-columns: repeat(2, 1fr);
    /* El repeat es para que tenga 2 columnas iguales */
    grid-template-rows: auto;
}


/* Grilla de productos */

.main-productos {
    padding: 3rem;
    margin-left: 0;
    margin: 1rem;
    border-radius: 2rem;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2px 16px;
}


.producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.producto-imagen {
    width: 250px;
    height: 250px;
    /*para que la imagen se adapte*/
    border-radius: 1rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-detalle {
    background-color: rgb(7, 0, 0, 0.6);
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-agregar {
    border: none;
    background-color: white;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 0.4s;
}

.producto-agregar:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}


/* Formulario de contacto */

.form-register {
    width: 400px;
    background-color: rgb(0, 0, 0, .6);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: rgb(0, 0, 0, .6);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 0, 0, .6);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background-color: rgb(0, 0, 0, .6);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/* footer  */

footer {
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, .6);
    margin-top: auto;
}

.copyright {
    font-size: .85rem;
    text-align: start;
    color: var(--bs-heading-color, inherit);
}

.texto-footer {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color, inherit);
}


@media screen and (max-width:1200px) {
    .grilla {
        display: grid;
        grid-template-areas:
            " tela  sublimada"
            " tela  gamusa"
            " tela  licra"
            " tela  cuero";
        grid-template-columns: 90vw;
        ;
        grid-template-rows: auto auto auto auto auto;
    }

    body {
        background-image: url("../img/fondo2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}

@media screen and (max-width:768px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "cuero tela"
            "cuero sublimada"
            "gamusa gamusa"
            "licra licra";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    body {
        background-image: url("../img/fondo1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}


@media screen and (max-width:576px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "tela"
            "sublimada"
            "gamusa"
            "licra"
            "cuero";
        grid-template-columns: 90vw;
        grid-template-rows: auto auto auto auto auto;
    }

    body {
        background-image: url("../img/ropa3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}